<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robocore.permissionutil">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <application>
        <activity
            android:name="com.robocore.permissionutil.CheckPermissionsActivity">
        </activity>
    </application>

</manifest>